// Update the colors for this demo
body {
  --color-text: #ffffff;
	--color-bg: #2e2e2e;
	--color-bg-2: #141414;
	--color-bg-3: #000000;
	--color-link: #9c9c9c;
	--color-link-hover: #ffffff;
	background: radial-gradient(ellipse at 30% 48%, var(--color-bg) 0%, var(--color-bg-2) 45%, var(--color-bg-3) 150%);
}
